ul {
    margin-top: 0;
}

html,
body {
    margin: 0;
}

body {
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.App {
    text-align: center;
    background: #282c34;
}

/* 
.App-logo {
    height: 40vmin;
} */

.App-header {
    background-color: #1A91DA;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.App-link {
    color: #09d3ac;
}

/* 
Timeline Styles
*/

.tweet-line {
    padding: 0;
}

.tweet-line li {
    display: flex;
    list-style: none;
}

.user-container {
    width: 50%;
    font-family: 'Zilla Slab', serif;
}

.twit-container {
    width: 50%;
    margin-top: 5%;
    display: flex;
}

.twit-photo-wrapper {
    display: flex;
    align-items: center;
}

img {
    height: 45px;
    border-radius: 50%;
}

.twit-content-wrapper {
    width: 100%;
}

.twit-text {
    padding-left: 3%;
    font-size: 20px;
    font-family: 'Kurale', serif;
}


.twit-signature {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}

.twit-username {
    padding-left: 3%;
    font-family: 'Parisienne', cursive;
    font-size: 30px;
    margin: 0;
    width: 100%;
}

hr {
    position: absolute;
    left: 7vw;
    width: 84.6vw;
    border-top: gainsboro;
    border-color: gainsboro;
}

/* Button Styles */

.update-tweets-button {
    /* margin: 40px 0 40px 80px; */
    width: 125px;
    height: 50px;
    background: #E8F5FE;
    border: none;
    border-radius: 30px;
}