ul {
    margin-top: 0;
}

html,
body {
    margin: 0;
}

body {
    margin-left: 12vw;
    margin-right: 12vw;
    /* padding-left: 3vw; */
    /* padding-right: 3vw; */
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
}

.App {
    text-align: center;
    background: #282c34;
}

/* 
.App-logo {
    height: 40vmin;
} */

.App-header {
    background-color: #1A91DA;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.App-link {
    color: #09d3ac;
}

/* 
Timeline Styles
*/

.tweet-line {
    padding: 0;
}

.tweet-line li {
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 120px;
    list-style: none;
    border-bottom: 1px solid gainsboro;
    transition: .2s;
    padding: 4%;
}

.tweet-line li:hover {
    background: #F5F8FA;
    transition: ease-in-out .2s;
}

.replying-to a {
    color: #1B95E0;
    text-decoration: none;

}

.handle {
    font-size: 14px;
}

.user-container {
    width: 45%;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.user-content-wrapper {
    width: 100%;
    /* padding: 7%; */
}

.user-text {
    font-size: 14px;
    color: #3b444b;
    /* padding-top: 3%; */
}

.user-username {
    font-weight: bold;
    font-size: 18px;
}

.user-handle {
    text-decoration: none;
    color: #1B95E0;
}

.tweet-date {
    position: absolute;
    top: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.twit-container {
    width: 52%;
    display: flex;
}

.twit-photo-wrapper {
    display: flex;
    align-items: center;
}

.profile-container img {
    height: 45px;
    border-radius: 50%;
}

.twit-content-wrapper {
    width: 100%;
    /* padding: 5% 5% 5% 5%; */
    display: flex;
}

.profile-container {
    flex: 0 0 60px;
}

.profile-container img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

.tweet-container {
    font-family: 'Roboto', sans-serif;
}

.twit-text {
    padding: 5% 5% 5% 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #3b444b;
}

.twit-signature {
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}

.twit-username {
    font-weight: bold;
    font-size: 18px;
}

hr {
    position: absolute;
    left: 7vw;
    width: 84.6vw;
    border-top: gainsboro;
    border-color: gainsboro;
}

/* Button Styles */

.update-tweets-button {
    /* margin: 40px 0 40px 80px; */
    width: 125px;
    height: 50px;
    background: transparent;
    border: 3px solid #55ACEE;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #55ACEE;
    transition: linear .2s;
}

.update-tweets-button:hover {
    background: #55ACEE;
    color: ghostwhite;
    transition: linear .2s;
    cursor: pointer;
}

button.dont-bother {
    background: transparent;
    color: white;
    border: none;
    height: 50px;
}

button.dont-bother:hover {
    background: transparent;
    color: white;
    border: none;
    height: 50px;
}

@media (max-width: 700px) {
    .user-container {
        padding-top: 9%;
    }

    .tweet-line li {
        flex-direction: column;
    }

    .user-container {
        padding-top: 11%;
        width: 100%;
    }

    .tweet-date {
        top: 10px;
        font-size: smaller;
    }

    .twit-container {
        width: 100%;
    }

    .twit-content-wrapper {
        padding-top: 3%;
    }

    .twit-text {
        font-size: 15px;
    }

    .profile-container img {
        height: 30px;
        width: initial;
    }
}