.header {
    position: relative;
    display: flex;
    min-height: 40vh;
    background: linear-gradient(#CCD6DD 60%, white 40%);
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid gainsboro;
}

.header p {
    margin: 2% 2% 2% 6%;
}

.header .banner-username {
    font-weight: bolder;
    font-size: 50px;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 5%;
    padding-left: 7%;
}

.banner-handle {
    color: #0e1111;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: 4px;
    text-decoration: none;
    transition: .2s;
}

.banner-handle:hover {
    color: #1B95E0;
    text-decoration: none;
    transition: ease-in-out .2s;
}

.profile-picture-wrapper {
}

.profile-picture-wrapper img{
    height: 150px;
    border-radius: 50%;
}

/* 
Navbar Styles
*/

.nav-logo {
    display: flex;
    height: 50px;
    width: 50px;
    padding: 10%;
}

.nav-items {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action {
    margin: 0 0 20% 0;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #55ACEE;
}

.nav-link {
    background-color: #09d3ac;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #08bd9a;
}

button {
    /* margin: 40px 0 40px 80px; */
    width: 125px;
    height: 100px;
    background: #F5F8FA;
    border: 3px solid #55ACEE;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #55ACEE;
    transition: linear .2s;
}

button:hover {
    background: #55ACEE;
    color: ghostwhite;
    transition: linear .2s;
    cursor: pointer;
}
/* 
Icon Styles
*/

.fa-twitter {
    color: #55ACEE;
    font-size: xx-large;
}